*, *:before, *:after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
}

html {
    font-size: 62.5%;
}

body {
    font: 300 1.8rem/1.6875 sans-serif;
    font: 300 18px/1.6875 sans-serif;
}

h1, h2, h3, h4, h5, h6, ul, ol, blockquote, p {
    margin: 0 0 20px 0;
    margin: 0 0 2rem 0;
}

ul, ol {
    padding-left: 40px;
    padding-left: 4rem;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}

h1 {
    font-size: 36px;
    font-size: 3.6rem;
}

h2 {
    font-size: 32px;
    font-size: 3.2rem;
}

h3 {
    font-size: 26px;
    font-size: 2.6rem;
}

h4 {
    font-size: 24px;
    font-size: 2.4rem;
}

img {
    display: block;
    width: 100%;
    margin: 0 auto 20px auto;
    margin: 0 auto 2rem auto;
}

.container {
    max-width: 800px;
    padding: 20px;
    padding: 2rem;
}
